@import "var.scss";

body {
    font: 100% $font-stack;
    color: $primary-color;
}

header, footer {
    color: $title-color;
    text-align: center;
}

main {
    padding-top: $padding *0;
    padding-bottom: $padding *0;
}

footer {
    h3 {
        font-size: 1.5em;
        padding: $padding *2;
        margin-bottom: 0px;
    }
}

h1, h2 {
    color: $title-color;
}

article {
    display: flex;
    flex-wrap: wrap;

    section {
        border: $border;
        flex-grow: 1;
        flex-basis: 45%;
        padding: $padding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        @include shadow($box-shadow);

    }
    
    #selling-points {
        flex-grow: 2;
        flex-basis: 100%;
    }

    code {
        background-color: $bg-color-code;
        border: $border;
        color: #8C8C8C;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }

    code.before {
        float: left;
        width: 40%;
    }

    code.after {
        float: right;
        width: 40%;
    }
}


.message {
    padding: $padding;
    color: $text-color;

    .success {
        @extend .message;
        background-color: $bg-color-success;
    }

    .error {
        @extend .message;
        background-color: $bg-color-error;
    
        :hover {
            background-color: $bg-color-success
        }
    }

    .warning {
        @extend .message;
        background-color: $bg-color-warning;
    }
}