// VAR

$font-stack: "Space Mono", monospace;
$bg-color: white;
$primary-color: #333;
$title-color: #BF4080;

$border: 1px #8C8C8C solid;
$box-shadow: 10px 10px 15px -4px #6b717f;
$padding: 16px;

$bg-color-code: black;

$bg-color-success: green;
$bg-color-error: red;
$bg-color-warning: orange;
$text-color: white;

// STYLE

body {
    font: 100% $font-stack;
    color: $primary-color;
}

header, footer {
    color: $title-color;
    text-align: center;
}

main {
    padding: 0 1em;
}

h1, h2 {
    color: $title-color;
}

h3 {
    font-size: 1.5em;
    padding: 32px;
    margin-bottom: 0px;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article section {
    border: $border;
    box-shadow: $box-shadow;
    flex-grow: 1;
    flex-basis: 45%;
    padding: $padding;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
}

article section#selling-points {
    flex-grow: 2;
    flex-basis: 100%;
}

article code {
    background-color: $bg-color-code;
    border: $border;
    color: #8C8C8C;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

article code.before {
    float: left;
    width: 40%;
}

article code.after {
    float: right;
    width: 40%;
}

.message {
    padding: $padding;
    color: $text-color;
}

.success {
    @extend .message;
    background-color: $bg-color-success;
}

.error {
    @extend .message;
    background-color: $bg-color-error;
}

.error:hover {
    background-color: $bg-color-success
}

.warning {
    @extend .message;
    background-color: $bg-color-warning;
}